/* use google fonts to implement a cool font */
/* need to add button for search, look up how to add magnifying glass icon */

body {
    background-color: lightgray;
}

header {
    border-color: lightblue;
    border-style: solid;
    background-color: lightblue;
    text-align: center;
    margin: 20px 200px;
    border-radius: 25px;
    
}

h1 {

}

.titlebtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 300px;
}

/* changed class name */
.cocktail {
    border-color: lightblue;
    border-style: solid;
    background-color: lightblue;
    text-align: center;
    margin: 20px 200px;
    border-radius: 25px;
}

/* added button for cocktail*/
 .drinkbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 300px;
}


