header {
    border-color: lightblue;
    border-style: solid;
    background-color: lightblue;
    text-align: center;
    margin: 20px 100px;
    border-radius: 25px;

}

p {
    font-family: Montserrat;
}

h1 {
    font-family: Montserrat;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alignment {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.alignment>* {
    padding: 10px;
    flex: 1 100%;
}

.banana {
    font-family: Montserrat;
    display: flex;
    justify-content: space-evenly;

}


.posterSize {
    height: 600px;
    display: flex;
}